*{
	margin: 0;
	padding: 0;
}
html, body {
    height: 100%;
}
#wrapperlogin{
	
	background-image: url("coww.png");
	background-repeat: no-repeat;
	height: 100% ;
	width: 100% ;
	background-position: 0 0;
    background-size: cover;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -20px;
}
*{
	padding:0 ;
	margin: 0;
}
body{
	background-image: url("tools.jpg");
	background-repeat: no-repeat;
	height: 100% ;
	width: 100%; 
	background-position: 0 0;
    background-size: cover;
}

#imagebox p{
	height: 200px;
	width: 200px;
	background-color: white;
	font-size: 30px; 
	text-align: center;
	font-weight: bold;
	margin-left: 40%;
	margin-top: 40px; 
}

#indexfooter{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; height: 50px;
    background-color: white;
    opacity: 0.7;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 *{
 	margin: 0;
 	padding: 0;
 }

#frontheader h1{
	color: #111; font-family: 'Helvetica Neue', sans-serif;
	font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}
#frontheader h3{
	 color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 30px;
	 font-weight: bold; line-height: 32px; margin: 0 0 32px; text-align: center; 
	 text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}

#frontextra{
	color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 18px;
	 font-weight: bold; line-height: 32px; margin: 0 0 5px; 
	 text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff; margin-left: 40px; margin-top: 80px;
}
.field{
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 18px; font-weight: bold; letter-spacing: -1px; line-height: 1; margin-left: 40px; 
	text-shadow: 0 1px #2a85a1;

}
#login{
	color: #111; font-family: 'Helvetica Neue', sans-serif;
	font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; 
}

#outerlogin{
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
	opacity: 0.8; 
	margin-left: 40px;
	margin-top: 35px; 
	background-color: white;
	width: 30%;
	border-radius: 2% ;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px; 
	border-bottom-color: #111 ; 


}
