<main id="indexmain">
<div id="imagebox"> 
	<p>+</p> 
</div>
<div id="submitimage">
<button id="submitbutton" type="submit" form="form1" value="Submit">Submit</button>
</div>
</main>


<footer id="indexfooter">
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</footer>
