*{
	padding:0 ;
	margin: 0;
}
body{
	background-image: url("tools.jpg");
	background-repeat: no-repeat;
	height: 100% ;
	width: 100%; 
	background-position: 0 0;
    background-size: cover;
}

#imagebox p{
	height: 200px;
	width: 200px;
	background-color: white;
	font-size: 30px; 
	text-align: center;
	font-weight: bold;
	margin-left: 40%;
	margin-top: 40px; 
}

#indexfooter{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; height: 50px;
    background-color: white;
    opacity: 0.7;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
}

#submitbutton{
	background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; font-weight: bold; font-family: 'Helvetica Neue', sans-serif;
    margin-left: 43% ;
    margin-top: 3% ; 
}