<header id="profileheader">
<nav>
	<div id="leftside">
	<h2> MANJEET SINGH</h2>
	<ul>
		<li> ID: 0001 </li>
		<li> Number of animals: 3 </li>
		<li> Joined: since 2009 </li>
	</ul>
	</div>
	<div id="rightside">
		
	</div>
</nav>
</header>

<div id="profilemain">
	<div id="one">
		<%= image_tag("/assets/images/cowprofile.jpg",  alt: "like", class: "like_image_for_index") %>

	</div>

	<div id="two">
		<%= image_tag("/assets/images/cowprofile.jpg",  alt: "like", class: "like_image_for_index") %>
		

	</div>

	<div id="three">
		<%= image_tag("/assets/images/cowprofile.jpg",  alt: "like", class: "like_image_for_index") %>
		

	</div>

</div>


<footer id="profilefooter">
	<div id="footerdiv">
	</div>

</footer>
